html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #aaaaaa1f #5553;
}

*::-webkit-scrollbar {
  width: 10pt;
  height: 10pt;
}

*::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: #5553;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaaaaa1f;
  border: 2pt solid #5553;
}

#header {
  height: 25pt;
  width: 100%;
  background: #111;
  display: block;
}

.app_view {
  min-width: 200pt;
  width: 30%;
  height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
  color: #aaa;
  font-family: 'Consolas', monospace;
  vertical-align: top;
  background: #1e1e1e;
}

#app_container {
  margin: 0;
  background: #1a1a1a;
  width: 100vw;
  height: calc(100% - 25pt);
  padding: 40pt 0;
  overflow: scroll;
}

div.box {
  display: block;
  margin: 50pt auto;
  max-width: 800pt;
  width: 70%;
  background: #333;
  padding: 40pt 80pt;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.level-view {
  display: flex;
}

.control-panel {
  display: flex;
  padding: 5pt;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  border-radius: 2pt;
}

.control-panel button {
  font-family: 'Segoe UI', sans-serif;
  margin: 10pt;
  font-size: 20pt;
}

.control-panel span {
  width: 30pt;
}

.level-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1pt;
  margin: 10pt;
  flex-direction: row;
}

.stats-container {
  width: 20vw;
  min-height: 100pt;
  height: fit-content;
  margin: 10pt;
  padding: 10pt;
  background-color: gray;
}

.stats-header {
  height: 10%;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 30pt;
  font-family: 'Segoe UI', sans-serif;
}

.stats-body {
  height: 90%;
  width: 100%;
}

.stats-subsection-header {
  height: 10%;
  text-align: center;
  font-size: 15pt;
  font-family: 'Segoe UI', sans-serif;
}

.stats-subsection {
  display: flex;
  height: 40%;
  width: 100%;
  font-size: 15pt;
}

.stats-subsection-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 15pt;
}

.view-cone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12vw;
  max-height: 50vh;
  height: fit-content;
  margin: 10pt;
  padding: 10pt;
  background-color: gray;
}

.view-cone-header {
  height: 10%;
  width: 100%;
  margin-bottom: 2vw;
  text-align: center;
  font-size: 30pt;
  font-family: 'Segoe UI', sans-serif;
}

.view-cone-grid {
  display: grid;
  grid-template-rows: repeat(4, 3.8vw);
  grid-template-columns: repeat(3, 3.8vw);
  gap: 1vh;
}

.view-cone-tile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actor-icon {
  position: relative;
  z-index: 10;
  width: 50%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.5vw;
}

.level-tile{
  display: flex;
  height: 20pt;
  width: 20pt;
  padding: 1pt;
  margin: 1pt;
  background-color: #bcb6b6;
}

.food{
  flex-wrap: wrap;
  margin: 1pt;
  height: 3pt;
  width: 3pt;
  font-family: 'Segoe UI', sans-serif;
  pointer-events: none;
}

.actor{
  height: 20pt;
  width: 20pt;
  border-radius: 50%;
  background-color: #FFF;
}
